<!DOCTYPE html>
<html>
    <head> 
        <title>Chat Room</title>
        <script src="/socket.io/socket.io.js"></script>
        <script>
            const socket = io();
            
            function setUserName(){
                socket.emit('setUserName', document.getElementById("name").value);
            }

            var user ;
            socket.on('userExists', function(data){
                document.getElementById("chat-container").innerHTML=data;
            });
            socket.on('userSet', function(data){
                user = data.username;
                document.body.innerHTML = '<input type="text" id="message">\
                <button type="button" name="button" onclick="sendMessage()"> Send Message </button>\
                <div id="message-container"></div>';
            });

            function sendMessage(){
                var msg = document.getElementById("message").value;
                if(msg){
                    socket.emit('msg', {message : msg, user : user});
                }
            };

            socket.on('newmsg', (data)=>{
                if(user){
                    document.getElementById("message-container").innerHTML += '<div><b> ' + data.user + '</b> : ' + data.message +'</div>';
                }
            })
            
        </script>
    </head>

    <body> Welcome to Chat Room!!! 
        <div  id="chat-container">
            <input id="name" type="text" name="name" value="" placeholder="Enter your name">
            <button type='button' name="button" onclick="setUserName()">start chat</button>
        </div>

    </body>

</html>
